<fieldset>
    <legend>Novo Usuario</legend>
    <form method="POST" action="/newuser">
        <input required type="text" name="firstName" placeholder="Digite o primeiro nome"/><br/><br/>
        <input type="text" name="lastName" placeholder="Digite o segundo nome"/><br/><br/>
        <input required type="number" name="age" placeholder="Digite uma idade"/><br/><br/>
        <input required type="email" name="email" placeholder="Digite um email"/><br/><br/>
        <input type="text" name="interests" placeholder="Digite seus interesses (Separe por ,)"/><br/><br/>
        <input type="submit" value="Inserir Usuário"/><br/><br/>
    </form>
</fieldset>